<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit car</title>
  </head>
  <body>
    <h1>Edit car</h1>
    <form action="/cars/<%= car._id %>?_method=PUT" method="post">
      <p>
        <label for="make">Make</label>
        <input type="text" name="make" />
      </p>
      <p>
        <label for="model">Model</label>
        <input type="text" name="model" />
      </p>
      <p>
        <label for="year">Year</label>
        <input type="number" name="year" />
      </p>
      <p>
        <label for="color">color</label>
        <input type="text" name="color" />
      </p>
      <button type="submit">Update</button>
    </form>

    <a href="/carsPage">Back to cars collection</a>
  </body>
</html>
